name: qm9
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.13
  - pip
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - jupyterlab
  - ipykernel
  - tqdm
  - pip:
      - torch==2.8.0+cpu
      - torchvision==0.23.0+cpu
      - torchaudio==2.8.0+cpu
      - torch-geometric==2.7.0
      - torch-scatter
      - torch-sparse
      - torch-cluster
      - torch-spline-conv
